<h1> Leaderboards! </h1>
<table style="width:100%">
	<tr>
		<th>Most Wins!</th>
		<th>Most Shots Fired!</th>
		<th>Highest Win Percent!</th>
		<th>Highest Accuracy!</th>
	</tr>
	<tr>
		<td>1: <%=@most_user_wins[0].username%></td>
		<td>1: <%=@most_user_shots[0].username%></td>
		<td>1: <%=@most_user_win_ratio[0].username%></td>
		<td>1: <%=@most_user_accuracy[0].username%></td>
	</tr>
	<tr>
		<td>2: <%=@most_user_wins[1].username%></td>
		<td>2: <%=@most_user_shots[1].username%></td>
		<td>2: <%=@most_user_win_ratio[1].username%></td>
		<td>2: <%=@most_user_accuracy[1].username%></td>
	</tr>
	<tr>
		<td>3: <%=@most_user_wins[2].username%></td>
		<td>3: <%=@most_user_shots[2].username%></td>
		<td>3: <%=@most_user_win_ratio[2].username%></td>
		<td>3: <%=@most_user_accuracy[2].username%></td>
	</tr>
	<tr>
		<td>4: <%=@most_user_wins[3].username%></td>
		<td>4: <%=@most_user_shots[3].username%></td>
		<td>4: <%=@most_user_win_ratio[3].username%></td>
		<td>4: <%=@most_user_accuracy[3].username%></td>
	</tr>
	<tr>
		<td>5: <%=@most_user_wins[4].username%></td>
		<td>5: <%=@most_user_shots[4].username%></td>
		<td>5: <%=@most_user_win_ratio[4].username%></td>
		<td>5: <%=@most_user_accuracy[4].username%></td>
	</tr>
</table>