<h2>place your boats</h2>

<section class="ocean-view">

<div class="grid">

<% 0.upto 9 do |row| %>

<div class="row r_<%= row %>" >

    <% 0.upto 9 do |column| %>
        <div class="col c_<%= column %>" >
          <div class="cell" id="cell_<%= row %><%= column %>">

          </div>
        </div>
    <% end %>

</div>

<% end %>

</div>

</section>

<section class="boat-dock">

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="notice"><%= flash[:alert] %></div>
<% end %>


<% @boats.each do | b | %>
  <div><h3><%= b.name %></h3></div>

  <% unless b.id %>
    <%= form_for b, url: {controller: :boats, method: "post", action: "create"} do |f| %>

      <%= f.hidden_field :name, value: b.name %>
      <%= f.hidden_field :length, value: b.length %>
      <%= f.hidden_field :board_id, value: params[:id] %>
      <%= f.text_field :bow_index %>
      <%= f.text_field :stern_index %>
      <%= f.button :submit %>
    <% end %>

  <% else %>

  placed!

  <% end %>
 

<% end %>



</section>